body{
	background-color: #20E7E7;
}

.navbars {
	background-color: #366DEB;
	height: 6em;
}
.fa-6 {
 	font-size: 5em;
}
.home{

}

ul li {
	list-style-type: none;
	display: inline-block;
	color: white;
}
a {
	color: white;
	font-size: 2em;
	margin-right: 2em;
}
