<div class="container">
	<h3>Today's Tickets </h3>
			
	<div class="_tickets">
		<div id="container_header">
			<ul>
				<li><i class="fa fa-ticket tick"></i></li>
				<li id="ticket_button"><form id="refreshAll">
    		<button type="submit">Refresh Tickets</button></li>
			</form>
			</ul>
		</div>
		<div id="ticket_sub">
		<%= erb :'partials/_all_tickets', :layout => false  %>
	</div>
	</div>	
</div>

