<div class="container">
	<h3>Today's Tickets</h3>
	<form id="refreshAll">
    		<button type="submit">Refresh Tickets</button>
			</form>
	<div class="tickets">
		<%= erb :'partials/_all_tickets', :layout => false  %>
	</div>
</div>

