<div class="container">

  <body>
    <h1>fist to five</h1>

    <form action="/user/my_tickets" method="post">
    <input type="text"></input>
    <input type="submit" id="submit_ticket"></input>

    </form>

    <div id="queue">
    </div>

  </body>

</div>
