<div class="navbars">
	<ul >
	<li><img style="height: 60px; float: left; margin-left: 30px; margin-top: 5px;" src="images/communism-158444_150.png"></li>
	
	  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
	  <li><a href="/tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
	  <% current_user %>

	  <% if @user.nil? %>
	 	<li> <a class="btn btn-block btn-social btn-github">
  			<a href="/sign_in" <i class="fa fa-twitter fa-5"></i> Sign in with Twitter</i> </a>
  		</a></li>
	  <% else %>
	  	<li><a href="/users/<%= @user.id %>"><i class="fa fa-smile-o"></i>Profile</a></li>
	  		<li>
	
		  	<li><a id="log_out_button" href="/users/<%= @user.id %>" ><i class="fa fa-user"></i> Log Out</a></li>
	  	<!-- TODO: ADD LOGOUT BUTTON -->
  	<% end %>

	</ul>
</div>
