<div class="navbars">
	<ul >
	  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
	  <li><a href="/tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
	  <% current_user %>
	  <% if @user.nil? %>
	 	<li> <a class="btn btn-block btn-social btn-github">
  			<i class="fa fa-github fa-6"></i> Sign in with GitHub</i>
  		</a></li>
	  <% else %>
	  	<li><a href="/users/<%= @user.id %>"><i class="fa fa-smile-o"></i>Profile</a></li>
	  	<!-- TODO: ADD LOGOUT BUTTON -->
  	<% end %>
	</ul>
</div>