<div class="container">

  <body>
    <h1>fist to five</h1>

    <h2>submit a ticket</h2>
      <form action="">
        <br>What do you need help with?<br>
        <br><input type="text" name="description"required></input><br>
        <br>Where are you? Enter the station #.<br>
        <br><input type="number" name="location" required></input><br>
        <br><input type="submit" id="submit_ticket"></input>
      </form>

    <h2>your tickets</h2>
      <div id="ticket_history"></div>

  </body>

</div>
