<link rel="stylesheet" href="/css/location.css">
<h3>Where are you?</h3>

<form name="rooms" method="post" action="/TBD">
	<select>
		<option value="workstations">Workstations</option>
		<option value="thread">Thread</option>
		<option value="object">Object</option>
		<option value="string">String</option>
		<option value="kernel">Kernel</option>
	</select>
</form>

<!-- 6 rows -->
<!-- 2 sides per row -->
<!-- 4 workstations per side -->
<!-- 48 spots -->

<div id="work_area">
	<div class="room">
		<h6>THREAD</h6>
	</div>
		<ul id="work_stations"></ul>
	<div class="room">
		<h6>LOCKERS</h6>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/location.js"></script>